@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: auto;
}

.wrapper {
  overflow: hidden;
  margin-top: 80px;
}

p {
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  max-width: 1600px;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  opacity: 1;
  padding: 0 40px;
}
header .header-hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 999;
}
header .header-hamburger span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #333333;
  transition: all 0.5s;
}
header .header-hamburger span:first-child {
  top: 0px;
}
header .header-hamburger span:nth-child(2) {
  display: flex;
  align-items: center;
}
header .header-hamburger span:last-child {
  bottom: 0px;
}
header #nav-global {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
header #nav-global-side {
  background: #121212;
  visibility: hidden;
  left: -300px;
  width: 300px;
  height: 100%;
}
header #nav-global nav {
  position: fixed;
  width: 300px;
  padding: 60px 25px;
}
header #nav-global nav ul p {
  font-size: 14px;
  line-height: 1.7;
}
header #nav-global nav ul:first-of-type li {
  padding: 20px 0;
  border-bottom: solid 1px #fff;
}
header #nav-global nav ul:first-of-type li:first-child {
  border-top: solid 1px #fff;
}
header #nav-global nav ul:last-of-type {
  margin-top: 60px;
}
header #nav-global nav ul:last-of-type li {
  padding: 5px 0;
}
header #nav-global a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
header #nav-global a:hover {
  color: #666666;
}

.nav-global-active .header-hamburger span:nth-child(1) {
  transform: translateY(9px) rotate(-225deg);
  background-color: #ffffff;
}
.nav-global-active .header-hamburger span:nth-child(2) {
  display: none;
}
.nav-global-active .header-hamburger span:nth-child(3) {
  transform: translateY(-9px) rotate(225deg);
  background-color: #ffffff;
}
.nav-global-active #nav-global {
  visibility: visible;
}
.nav-global-active #nav-global-side {
  position: relative;
  left: 0;
  visibility: visible;
  transition: all 0.5s;
}

/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

main, section, .contact-content-wrapper {
  display: flex;
  justify-content: center;
}

section {
  margin-top: 100px;
}

.contact-content-wrapper {
  margin-top: 60px;
}
@media (max-width: 600px) {
  .contact-content-wrapper {
    margin-top: 90px;
  }
}

.content-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.content-title p {
  color: #121212;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
}

.main-content {
  width: 100%;
  height: 100vh;
}
.main-content video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pickup-content {
  width: 100%;
}
.pickup-content-slick .slick-slide {
  margin: 0 30px;
}

.feature-content {
  padding: 0 197px;
}
@media (max-width: 1200px) {
  .feature-content {
    padding: 0 16px;
  }
}
.feature-content-card ul {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .feature-content-card ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .feature-content-card ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
.feature-content-card ul li {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #CCCCCC;
}
.feature-content-card ul li div {
  padding: 31px 27px;
}
@media (max-width: 600px) {
  .feature-content-card ul li div {
    padding: 16px;
  }
}
.feature-content-card ul li div p:first-child {
  font-size: 12px;
  line-height: 20px;
}
.feature-content-card ul li div p:nth-child(2) {
  margin: 20px 0px 33px;
  font-size: 14px;
  line-height: 24px;
}
.feature-content-card ul li div p:last-child {
  text-align: right;
  font-size: 12px;
  line-height: 20px;
}

.contact-content {
  padding: 50px 197px 10px;
  background-color: #121212;
}
@media (max-width: 1200px) {
  .contact-content {
    padding: 50px 16px 10px;
  }
}
@media (max-width: 600px) {
  .contact-content {
    padding: 80px 16px 10px;
  }
}
.contact-content p {
  color: #FFFFFF;
}
.contact-content-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 131px;
}
@media (max-width: 1200px) {
  .contact-content-info {
    gap: 95px;
  }
}
@media (max-width: 600px) {
  .contact-content-info {
    display: block;
  }
}
.contact-content-info-text p {
  margin-bottom: 30px;
}
.contact-content-info-input input {
  margin-bottom: 20px;
  width: 100%;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #707070;
}
.contact-content-info-input input:last-of-type {
  height: 68px;
}
.contact-content-info-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 200px;
  height: 45px;
  background: #121212;
  border: 1px solid #FFFFFF;
}
@media (max-width: 600px) {
  .contact-content-info-input button {
    margin-top: 0px;
    width: 100%;
  }
}
.contact-content-copyright {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media (max-width: 600px) {
  .contact-content-copyright {
    margin-top: 90px;
  }
}
.contact-content-copyright p {
  font-size: 12px;
  line-height: 20px;
}/*# sourceMappingURL=style.css.map */