@use 'responsive' as *;
@use 'define' as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  // max-width: 1600px;
  height: 80px; 
  width: 100%;
  background-color: $global_color_white;
  opacity: 1;
  padding: 0 40px;

  .header-hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 999;
    
    span {
      display: inline-block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #333333;
      transition: all .5s;

      &:first-child {
        top: 0px;
      }

      &:nth-child(2) {
        display: flex;
        align-items: center;
      }

      &:last-child {
        bottom: 0px;
      }
    }
  }

  #nav-global {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    visibility: hidden;
    flex-direction: column;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &-side {
      background: #121212;
      visibility: hidden;
      left: -300px;
      width: 300px;
      height: 100%;
    }

    nav {
      position:fixed;
      width: 300px;
      padding: 60px 25px;

      ul {
        p {
          font-size: 14px;
          line-height: 1.7;
        }

        &:first-of-type {
          li {
            padding: 20px 0;
            border-bottom: solid 1px #fff;

            &:first-child {
              border-top: solid 1px #fff;
            }
          }
        }

        &:last-of-type {
          margin-top: 60px;

          li {
            padding: 5px 0;
          }
        }
      }
    }

    a {
      display: block;
      color: $global_color_white;
      text-decoration: none;
      
      &:hover {
        color: $global_color_hover;
      }
    }
  }
}

.nav-global-active {
  .header-hamburger {
    span {
      &:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(-225deg);
        transform: translateY(9px) rotate(-225deg);
        background-color: $global_color_white;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(225deg);
        transform: translateY(-9px) rotate(225deg);
        background-color: $global_color_white;
      }
    }
  }

  #nav-global {
    visibility: visible;

    &-side {
      position: relative;
      left: 0;
      visibility: visible;
      transition:  all .5s;
    }
  }
}