@use 'responsive' as *;
@use 'define' as *;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: auto;
}

.wrapper {
  overflow: hidden;
  margin-top: 80px;
}

p {
  font: normal normal normal 14px/21px Meiryo;
  letter-spacing: 0px;
}