@use '../common/responsive' as *;

main, section, .contact-content-wrapper {
  display: flex;
  justify-content: center;
}

section {
  margin-top: 100px;
}

.contact-content-wrapper {
  margin-top: 60px;
  @include respond(phone) {
    margin-top: 90px;
  }
}

.content-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  p {
    color: #121212;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
  }
}

// main
.main-content {
  width: 100%;
  height: 100vh;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// PICK UP
.pickup-content {
  width: 100%;

  &-slick {
    .slick-slide {
      margin: 0 30px;
    }
  }
}

// FEATURE
.feature-content {
  padding: 0 197px;
  @include respond(tablet-landscape) {
    padding: 0 16px;
  }
  
  &-card {
    ul {
      display: grid;
      gap: 26px;
      grid-template-columns: repeat(3, 1fr);
      @include respond(tablet-landscape) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond(phone) {
        grid-template-columns: repeat(1, 1fr);
      }
  
      li {
        box-shadow: 0px 0px 8px #00000029;
        border: 1px solid #CCCCCC;

        div {
          padding: 31px 27px;
          @include respond(phone) {
            padding: 16px;
          }

          p{
            &:first-child {
              font-size: 12px;
              line-height: 20px;
            }
            &:nth-child(2) {
              margin: 20px 0px 33px;
              font-size: 14px;
              line-height: 24px;
            }
            
            &:last-child {
              text-align: right;
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

// CONTACT
.contact-content {
  padding: 50px 197px 10px;
  background-color: #121212;
  @include respond(tablet-landscape) {
    padding: 50px 16px 10px;
  }
  @include respond(phone) {
    padding: 80px 16px 10px;
  }

  p {
    color: #FFFFFF;
  }

  &-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 131px;
    @include respond(tablet-landscape) {
      gap: 95px;
    }
    @include respond(phone) {
      display: block;
    }

    &-text {
      p {
        margin-bottom: 30px;
      }
    }

    &-input {
      input {
        margin-bottom: 20px;
        width: 100%;
        height: 44px;
        background: #FFFFFF;
        border: 1px solid #707070;

        &:last-of-type {
          height: 68px;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        width: 200px;
        height: 45px;
        background: #121212;
        border: 1px solid #FFFFFF;
        @include respond(phone) {
          margin-top: 0px;
          width: 100%;
        }      
      }
    }
  }

  &-copyright {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    @include respond(phone) {
      margin-top: 90px;
    }
    p {
      font-size: 12px;
      line-height: 20px;
    }
  }
}